<p id="notice"><%= notice %></p>

<p>
  <b>Sentence:</b>
  <%= @corpus_neutral.sentence %>
</p>


<%= link_to 'Edit', edit_corpus_neutral_path(@corpus_neutral) %> |
<%= link_to 'Back', corpus_neutrals_path %>
