<p id="notice"><%= notice %></p>

<p>
  <b>Sentence:</b>
  <%= @corpus_positive.sentence %>
</p>


<%= link_to 'Edit', edit_corpus_positive_path(@corpus_positive) %> |
<%= link_to 'Back', corpus_positives_path %>
