<p id="notice"><%= notice %></p>

<p>
  <b>Sentence:</b>
  <%= @corpus_negative.sentence %>
</p>


<%= link_to 'Edit', edit_corpus_negative_path(@corpus_negative) %> |
<%= link_to 'Back', corpus_negatives_path %>
